.formModel {
    background-color: white;
    height: 800px;
}

.formModel form {
    background-image: linear-gradient(to bottom, rgb(20, 177, 85), black);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 100%;
    width: 100%;
}

.formModel form h1 {
    font-size: 80px;
    color: white;
    font-weight: bold;
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 80px;
}

.formModel form label {
    font-size: 40px;
    color: white;
    margin-left: 15px;
}

.formModel form input {
    outline: 0;
    border: none;
    width: 550px;
    height: 60px;
    padding: 18px;
    border-radius: 8px;
    transition: 0.7s;
}

.formModel form input:hover,
.formModel form input:focus {
    outline: 0;
}

.form-button {
    text-align: center;
    margin: 0 auto;
}

.regbtn {
    background-color: white;
    color: rgba(2, 128, 75, 0.9);
    outline: 0;
    border: 0;
    padding: 15px;
    font-size: 20px;
    transition: all 0.8s ease 0s;
    text-transform: uppercase;
    cursor: pointer;
    width: 80%;
    margin: 50px auto;
    ;
}

.regbtn:hover {
    outline: 0;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    font-size: 28px;
}