@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Rakkas&display=swap');
.navbar-toggler:not(:disabled):not(.disabled) {
    color: rgb(0, 0, 0);
    outline: 0;
    border: 1px solid#888;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 25px;
}

body {
    overflow-x: hidden;
}

nav {
    background-image: linear-gradient(to right, rgb(16, 194, 140), white);
}

.navbar-toggler:not(:disabled):not(.disabled):focus,
.navbar-toggler:not(:disabled):not(.disabled):hover {
    outline: 0;
}

.navbar-nav .nav-item .nav-link {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-right: 8px;
    color: rgb(250, 238, 248);
    transition: 0.7s;
}

@media (min-width: 750px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item .nav-link:hover:not(.social) {
        background-color: rgb(18, 211, 153);
        color: white;
        text-decoration: underline;
    }
}

@media (max-width: 751px) {
    .navbar-nav .nav-item .nav-link:hover:not(.social) {
        background-color: transparent;
        color: cornflowerblue;
    }
}

.navbar-brand strong {
    color: rgb(18, 211, 153);
    font-family: 'Rakkas', cursive;
    font-size: 60px;
    /*font-family: 'Aref Ruqaa', serif;
font-family: 'Rakkas', cursive;*/
}

.carousel-item {
    max-height: 800px;
}

.carousel-item img {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 800px;
}

.marqSec {
    height: 450px;
}

#mainmodal {
    text-align: center;
    height: 100%;
}

.modalconent {
    height: 100%;
    background: #fff;
    width: 100%;
    padding: 40px;
}

.breakingtitle {
    font-size: 40px;
    font-weight: bold;
    background: black;
    color: cornflowerblue;
    padding: 10px;
}

#readmorebutton {
    background: black;
    color: white;
    border-style: none;
    padding: 21px;
    font-size: 20px;
}

#readmorebutton:hover {
    text-decoration: underline;
    color: cornflowerblue;
}

.marquee {
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 30px;
    font-size: 25px;
}

.marqSec:hover {
    box-shadow: 5px 10px 13px rgb(255, 255, 255, 0.6);
}